body {
  color: #f5f5f5;
  font-family: "petala-pro",Helvetica,Arial
}

h1, h2 {
  margin-top: 0;
  margin-bottom: 0;
}

.container {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}



/***********************************************/
/*  HEADER                                     */
/***********************************************/
#header-title {
  background-color: #0b4577;
  padding-top: 20px;
  padding-bottom: 20px;
}

#header-title h1 {
  vertical-align: middle;
}

#header-body {
  background-color: #4d8dc3;
  padding-top: 20px;
  padding-bottom: 20px;
}

#header-body h2 {
  font-size: 50px;
  font-weight: bold;
}

#header-body p {
  margin-top: 20px;
  font-size: 20px;
}

/***********************************************/
/*  CARDS SECTION                              */
/***********************************************/
