body {
  color: #f5f5f5;
  font-family: "petala-pro",Helvetica,Arial
}

h1, h2 {
  margin-top: 0;
  margin-bottom: 0;
}

.container {
  width: 96%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}



/***********************************************/
/*  HEADER                                     */
/***********************************************/
#header-title {
  background-color: #0b4577;
  padding-top: 20px;
  padding-bottom: 20px;
}

#header-title h1 {
  vertical-align: middle;
  font-size: 40px;
}

#header-body {
  background-color: #4d8dc3;
  padding-top: 20px;
  padding-bottom: 20px;
}

#header-body h2 {
  font-size: 50px;
  font-weight: bold;
}

#header-body p {
  margin-top: 20px;
  font-size: 20px;
}

/***********************************************/
/*  CARDS SECTION                              */
/***********************************************/

#cards {
  margin-top: 20px;
  color: #525252;
  font-weight: bold;
}

#cards dl dt {
  border: 2px solid #525252;
}

#cards dl dt h3 {
  font-size: 20px;
  height: 42px;
  margin: 22px 0 28px 0;
}

#cards .card-sm-description {
  font-style: italic;
  height: 2em;
}

#cards .card-sm-description+p {
  font-size: 30px;
  margin-bottom: 22px;
}

#cards dl dd {
  display: none;
}